/*
 *
 * Site-wide stylesheet for Eagle's Eye Drone Company
 *
 * All rules are written mobile-first. For styling specific to larger screens and devices,
 * go to the sections "Desktop Styling" or "Tablet Styling"
 *
 * Created by Atlas Web Design. 
 *
 */

html, body {

    background-color: rgb(29, 113, 185);
    color: #FFF;
    font-size: 20px;
    width: 100%;
    height: 100%;

}

#page-container {

    min-height: 100%;
    position: relative;

}

.wrapper {

    padding-bottom: 200px;

}

/*
 *
 * Header Styling
 *
 */

header {

    width: 100%;

}

#logo {

    width: 125px;

}

#hero {

    position: relative;
    top: 0%;

}

#hero-bg {

    background-image: url(../images/videos/Hero.PNG);
    background-size: cover;
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100vw;

}

#hero-txt {

    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

header video {

    display: none;

}

.poster {

    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/pexels-marcin-jozwiak-3109819.jpg");
    background-size: cover;
    background-position: 65%;
    background-attachment: fixed;

}

.hero-btn {

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(254, 189, 89);
    padding: 20px;
    border-radius: 10px;

}

.hero-btn a {

    color: black;
    text-decoration: none;

}

.action-btn {

    position: relative;
    width: 50%;
    background-color:rgb(65, 143, 212);
    text-align: center;
    bottom: -5%;
    left: 25%;
    padding: 20px;
    border-radius: 10px;

}

/*
 *
 * Navigation
 *
 */

nav {

    background-color: rgb(29, 113, 185);
    height: 125px;
    width: 100vw;
    position: absolute;
    z-index: 1;

}

.overlay-content {

    background-color: rgb(29, 113, 185);
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.overlay-content a {

    text-decoration: none;
    color: white;
    display: block;
    width: 50%;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

#desktop-nav {

    display: none;

}

.openBtn {

    position: fixed;
    top: 0%;
    right: 0%;
    padding: 10px;

}

.closeBtn {

    position: absolute;
    right: 0%;
    top: 0%;
    padding: 10px;
    line-height: 30px;
    font-size: 50px;

}

.active-link {

    border-bottom: 3px solid rgb(254, 189, 89)

}

/*
 *
 * General Content Styling
 *
 */

content {

    background-color: rgb(29, 113, 185);
    display: block;
    padding-top: 50px;
    padding-bottom:250px;

}

section h1 {

    text-align: center;

}

section p {

    padding: 10px 40px;
    text-indent: 1.5em;

}

section ul {

    padding: 0px 100px;

}

.bg-light {

    color: black;
    background-color: white;

}

#contact-form {

    padding: 50px 50px 150px 50px;

}

.swoop-up {

    clip-path: ellipse(95% 100% at 53% 0%);
    background-size: cover;
    background-position: 60%;
    height: 60vh;

}

.slant-down {

    clip-path: ellipse(95% 100% at 53% 100%);
    background-size: cover;
    background-position: 60%;
    height: 30vh;
    margin-top: 50px;

}

.u-orange {

    border-bottom: rgb(254, 189, 89) 5px solid;

}

.swiper {

    height: 80vh;
    z-index: 0;
    padding: 50px;

}

.swiper-slide {

    box-shadow: 5px 5px 15px 5px black;
    background-color: #FFF;

}

.swiper-slide h1 {

    color: #000;
    text-align: center;
    margin: 25px;

}

.swiper-slide li {

    color: #000;
    margin-left: 50px;

}

.swiper-slide p {

    color: #000;
    margin: 25px;

}

.swiper-pagination-bullet {

    background-color: rgb(254, 189, 89);

}

.collapsible {

    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(20, 82, 136);
    border: none;   
    outline: none;
    padding: 10px;

}

.collapsed-content {

    padding: 10px 25px;
    display: none;
    overflow: hidden;
    background-color:rgb(65, 143, 212);

}


/*
 *
 * Icon Styling
 *
 */

.fa {

    font-size: 20px;
    margin: 5px;
    padding: 5px;

}


.icon {

    margin: auto;
    padding: 25px;

}

/*
 *
 * Footer Styling
 *
 */

footer {

    position: absolute;
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 250px;
    bottom: 0;
    padding: 50px;

}

#footer-text {

    text-align: center;

}



/*
 *
 * Desktop Styling
 *
 */

@media only screen and (min-width: 1224px){

    /*
     * Desktop Icons
     */
    
    .fa {

        font-size: 20px;

    }

    /*
     * Header Styling
     */

    #logo {
        width: 150px;
    }

    #hero-txt {

        font-size: 40px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    /*
     * Navigation
     */
    
    nav {

        height: 150px;
    
    }
    .openBtn {

        display: none;

    }

    #desktop-nav {

        display: block;
        width: 60%;
        position: fixed;
        right: 0%;
        top: 0%;
        transform: translate(0%, 200%);

    }

    #desktop-nav a {

        padding: 10px;
        margin: 40px;
        color: white;
        text-decoration: none;

    }

    #desktop-nav a:hover {

        border-bottom: 4px solid rgb(254, 189, 89);
        transition: all 0.2s;

    }

    header video {

        display: block;

    }

    .poster {

        display: none;

    }

    .hero-btn {

        top: 80%;

    }

    .collapsible {

        text-align: left;

    }

 }

/*
 *
 * Tablet Styling
 *
 */

@media only screen and (min-width: 480px){


}