/*
 *
 * Site-wide stylesheet for Eagle's Eye Drone Company
 *
 * All rules are written mobile-first. For styling specific to larger screens and devices,
 * go to the sections "Desktop Styling" or "Tablet Styling"
 *
 * Created by Atlas Web Design. 
 *
 */

html, body {

    color: #FFF;
    font-size: 20px;
    width: 100%;
    height: 100%;

}

.wrapper {

    height: 95%;

}

/*
 *
 * Header Styling
 *
 */

header {

    width: 100%;

}

#logo {

    width: 125px;

}

#hero {

position: absolute;
top: 0%;
z-index: -1;

}

#hero-bg {

    background-image: url(../images/videos/Hero.PNG);
    background-size: cover;
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width: 100vw;

}

#hero-txt {

    display: block;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*
 *
 * Navigation
 *
 */

nav {

    background-color: rgb(29, 113, 185);
    height: 125px;
    width: 100vw;
    position: fixed;

}

.overlay-content {

    background-color: rgb(29, 113, 185);
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.overlay-content a {

    text-decoration: none;
    color: white;
    display: block;
    width: 50%;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

#desktop-nav {

    display: none;

}

.openBtn {

    position: fixed;
    top: 0%;
    right: 0%;
    padding: 10px;

}

.closeBtn {

    position: absolute;
    right: 0%;
    top: 0%;
    padding: 10px;
    line-height: 30px;
    font-size: 50px;

}

.active-link {

    border-bottom: 3px solid rgb(254, 189, 89)

}

/*
 *
 * General Content Styling
 *
 */

content {

    background-color: rgb(29, 113, 185);

}


/*
 *
 * Icon Styling
 *
 */

.fa {

    font-size: 20px;
    margin: 5px;
    padding: 5px;

}

/*
 *
 * Footer Styling
 *
 */

footer {

    background-color: #000;
    color: #FFF;
    width: 100%;
    min-height: 100px;
    bottom: 0px;
    padding: 50px;

}

#footer-text {

    text-align: center;

}



/*
 *
 * Desktop Styling
 *
 */

@media only screen and (min-width: 1224px){

    /*
     * Desktop Icons
     */
    
    .fa {

        font-size: 20px;

    }

    /*
     * Header Styling
     */

    #logo {
        width: 150px;
    }

    #hero-txt {

        font-size: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    /*
     * Navigation
     */
    
    nav {

        height: 150px;
    
    }
    .openBtn {

        display: none;

    }

    #desktop-nav {

        display: block;
        width: 60%;
        position: fixed;
        right: 0%;
        top: 0%;
        transform: translate(0%, 200%);

    }

    #desktop-nav a {

        padding: 10px;
        margin: 40px;
        color: white;
        text-decoration: none;

    }

    #desktop-nav a:hover {

        border-bottom: 4px solid rgb(254, 189, 89);
        transition: all 0.2s;

    }

 }

/*
 *
 * Tablet Styling
 *
 */

@media only screen and (min-width: 480px){


}